/* 

--------- TYPOGRAPHY --------

FONT SIZE
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING 
0 / -2px

FONT FAMILY
Poppins

--------- COLORS --------
PRIMARY
base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavender)
Tint: #e5dbff (Moonlight Iris
Shade: #7048e8 (Velvet Night

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #176707 (Lava)

GREY
Base: #495057 (State)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)

*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    margin-bottom: 10px;
}
.two-containers{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.main-headings{
    margin-top: 50px;

}
.User-Balance{
    text-align: center;
}
.main-text{
    color: #9775fa;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 16px;
}
h2{
  text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -2px;
    color: #212529;  
}
h1{
    text-align: center;
    font-weight: 700;
    font-size: 68px;
    line-height: 1.2;
    letter-spacing: -2px;
    color: #212529;
}
h3{
    line-height: 1.2;
    color: #212529;
    font-size: 40px;
    text-align: center;
}
p{
    font-size: 20px;
    color: #495057;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    letter-spacing: -1px;
}
.main-container{
    box-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #d0ebff; */
    margin-top: 50px;
}
label{
    font-size: 24px;
    width: 20px;   
}
.input{
    padding: 2px 5px;
    font-size: 24px;
    border-radius: 5px;

}

.list{
    font-size: 20px;
    border-radius: 5px;
    width: 200px;
}
.input-container{
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}
.btn{
    border-radius: 5px;
    font-size: 16px;
    border: none;
    padding: 0.8rem 1.5rem;
    background-color: #1c7ed6;
    color: white;
    transition: 0.3s;
}
.btn-subtract{
    background-color: #e32b2b;
    color: #fff;
    border-radius: 0px;
}
.btn-add{
    border-radius: 0px;
    background: rgb(54, 148, 54);
}
.btn:hover{
    background-color: #567794;
    color: #212529;

}
footer{
    box-shadow: 0 0 5px rebeccapurple;
    margin-top: 50px;
}
.history{
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px saddlebrown;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.table{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
table,th{
    border: 2px solid black;
}
th{
    width: 155px;
    height: 40px;
}
tr{
    margin-top: 5px;
}
td{
    border: 2px solid black;
    text-align: center;
}   
